<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color: white;">BadaL Patel - Let see CRUD & Aangular Authentication</h1>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Employee
      </button>
    </div>
  </div>
</nav>
<p>
   <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Note : To run
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <ul>
      <li>https://www.npmjs.com/package/json-server</li>
      <li>Make sure you install package - just once :<b>npm install -g json-server</b></li>
      <li>Everytime you start app run the command :<b>json-server --watch db.json</b></li>
    </ul>
  </div>
</div>
<table class="table table-dark mt-3">
  <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email Id</th>
      <th scope="col">Mobile No</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let empdata of employeeData">
      <td>{{empdata.id}}</td>
      <td>{{empdata.firstName}}</td>
      <td>{{empdata.lastName}}</td>
      <td>{{empdata.email}}</td>
      <td>{{empdata.mobile}}</td>
      <td>{{empdata.salary}}</td>
      <td>
        <button class="btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="onEdit(empdata)">Edit</button>
        <button class="btn-danger mx-3" (click)="deleteEmployee(empdata)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" style="background-color:black;" id="staticBackdrop" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Employe Detail</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" id="fnameid">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" id="lnameid">
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email Id</label>
            <input type="text" formControlName="email" class="form-control" id="emailid">
          </div>
          <div class="mb-3">
            <label for="mobile" class="form-label">Mobile Number</label>
            <input type="text" formControlName="mobile" class="form-control" id="mobnumid">
          </div>
          <div class="mb-3">
            <label for="salary" class="form-label">salary</label>
            <input type="text" formControlName="salary" class="form-control" id="salaryid">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="postEmployeeDetails()">ADD</button>
      </div>
    </div>
  </div>
</div>