<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
                <a class="nav-link" routerLinkActive="active" routerLink="crud">Crud</a>
                <a class="nav-link" routerLinkActive="active" routerLink="route-guard">Route Guard</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>